<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Великі кнопки по центру</title>
<style>
  .button-container {
    text-align: center;
  }

  .big-button {
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
  }
</style>
</head>
<body>

<div class="button-container">
    <form action="/sud">
    <button type="submit" class="big-button">Судоку</button>
    </form>
    <form action="/cros">
    <button type="submit" class="big-button">Кросворд</button>
    </form>
    <form action="/labirint">
    <button type="submit" class="big-button">Лабіринт</button>
    </form>
    <form action="/graph">
    <button type="submit" class="big-button">Розфарбування</button>
    </form>
</div>

</body>
</html>
